<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>あ</string>
	<key>i</key>
	<string>い</string>
	<key>u</key>
	<string>う</string>
	<key>e</key>
	<string>え</string>
	<key>o</key>
	<string>お</string>
	<key>ka</key>
	<string>か</string>
	<key>ki</key>
	<string>き</string>
	<key>ku</key>
	<string>く</string>
	<key>ke</key>
	<string>け</string>
	<key>ko</key>
	<string>こ</string>
	<key>sa</key>
	<string>さ</string>
	<key>shi</key>
	<string>し</string>
	<key>su</key>
	<string>す</string>
	<key>se</key>
	<string>せ</string>
	<key>so</key>
	<string>そ</string>
	<key>ta</key>
	<string>た</string>
	<key>chi</key>
	<string>ち</string>
	<key>tsu</key>
	<string>つ</string>
	<key>te</key>
	<string>て</string>
	<key>to</key>
	<string>と</string>
	<key>na</key>
	<string>な</string>
	<key>ni</key>
	<string>に</string>
	<key>nu</key>
	<string>ぬ</string>
	<key>ne</key>
	<string>ね</string>
	<key>no</key>
	<string>の</string>
	<key>ha</key>
	<string>は</string>
	<key>hi</key>
	<string>ひ</string>
	<key>fu</key>
	<string>ふ</string>
	<key>he</key>
	<string>へ</string>
	<key>ho</key>
	<string>ほ</string>
	<key>ma</key>
	<string>ま</string>
	<key>mi</key>
	<string>み</string>
	<key>mu</key>
	<string>む</string>
	<key>me</key>
	<string>め</string>
	<key>mo</key>
	<string>も</string>
	<key>ra</key>
	<string>ら</string>
	<key>ri</key>
	<string>り</string>
	<key>ru</key>
	<string>る</string>
	<key>re</key>
	<string>れ</string>
	<key>ro</key>
	<string>ろ</string>
	<key>ya</key>
	<string>や</string>
	<key>yu</key>
	<string>ゆ</string>
	<key>yo</key>
	<string>よ</string>
	<key>wa</key>
	<string>わ</string>
	<key>wo</key>
	<string>を</string>
	<key>n</key>
	<string>ん</string>
</dict>
</plist>
