<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>ア</string>
	<key>i</key>
	<string>イ</string>
	<key>u</key>
	<string>ウ</string>
	<key>e</key>
	<string>エ</string>
	<key>o</key>
	<string>オ</string>
	<key>ka</key>
	<string>カ</string>
	<key>ki</key>
	<string>キ</string>
	<key>ku</key>
	<string>ク</string>
	<key>ke</key>
	<string>ケ</string>
	<key>ko</key>
	<string>コ</string>
	<key>sa</key>
	<string>サ</string>
	<key>shi</key>
	<string>シ</string>
	<key>su</key>
	<string>ス</string>
	<key>se</key>
	<string>セ</string>
	<key>so</key>
	<string>ソ</string>
	<key>ta</key>
	<string>タ</string>
	<key>chi</key>
	<string>チ</string>
	<key>tsu</key>
	<string>ツ</string>
	<key>te</key>
	<string>テ</string>
	<key>to</key>
	<string>ト</string>
	<key>na</key>
	<string>ナ</string>
	<key>ni</key>
	<string>ニ</string>
	<key>nu</key>
	<string>ヌ</string>
	<key>ne</key>
	<string>ネ</string>
	<key>no</key>
	<string>ノ</string>
	<key>ha</key>
	<string>ハ</string>
	<key>hi</key>
	<string>ヒ</string>
	<key>fu</key>
	<string>フ</string>
	<key>he</key>
	<string>ヘ</string>
	<key>ho</key>
	<string>ホ</string>
	<key>ma</key>
	<string>マ</string>
	<key>mi</key>
	<string>ミ</string>
	<key>mu</key>
	<string>ム</string>
	<key>me</key>
	<string>メ</string>
	<key>mo</key>
	<string>モ</string>
	<key>ra</key>
	<string>ラ</string>
	<key>ri</key>
	<string>リ</string>
	<key>ru</key>
	<string>ル</string>
	<key>re</key>
	<string>レ</string>
	<key>ro</key>
	<string>ロ</string>
	<key>ya</key>
	<string>ヤ</string>
	<key>yu</key>
	<string>ユ</string>
	<key>yo</key>
	<string>ヨ</string>
	<key>wa</key>
	<string>ワ</string>
	<key>wo</key>
	<string>ヲ</string>
	<key>n</key>
	<string>ン</string>
</dict>
</plist>
